

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
    {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">

    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Load Moment.js -->
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <!-- Then load Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Load Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/no.js"></script>
    <!-- Load Power BI JS -->
    <script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.18.5/dist/powerbi.min.js"></script>
    <!-- Load clarity -->
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "oswcivmdh5");
    </script>
</head>
<body>
    <div class="header">
        <div class="header__logo">
            <img src="/images/logo_transparant_white.png" alt="Greenside Logo">
        </div>
        <div class="header__navigation">
            <form action="/logout" method="post">
                <button type="submit" class="header__logout-button">Logg ut</button>
            </form>
        </div>
        <div class="header__toggle-menu" onclick="toggleSidebar()">
            &#9776;
        </div>
    </div>
    <div class="layout">
        <div class="sidebar" id="sidebar">

            <ul id="reportMenu" class="sidebar__reportmenu">
                {{#each reports}}
                <li class="sidebar__reportmenu-item">
                    <a href="#" onclick="saveLastReportId('{{this.id}}'); embedReport('{{this.id}}', $('#projectFilterSelect').val())">
                        <i class="{{this.icon}}"></i> {{this.name}}
                    </a>
                </li>
                {{/each}}
            </ul>

            <div class="sidebar__projectfilter">
                <label for="projectFilterSelect" class="sidebar__projectfilter-label">Prosjektvelger</label>
                <select id="projectFilterSelect" class="sidebar__projectfilter-select" multiple="multiple">
                    <!-- Project options will be dynamically added here -->
                </select>
            </div>
            
            <div class="filter-container">
                <label for="monthYearRangePicker" class="sidebar__projectfilter-label">Velg dato</label>
                <input type="text" id="monthYearRangePicker" class="date-range-picker">
            </div>
            
            <div class="sidebar__contact">
                <a class="sidebar__contact-link" href="https://share-eu1.hsforms.com/1CRnd2UHlQl6EhjUkvhquLg2d9w57" target="_blank">
                    <i class="fas fa-envelope"></i>Kontakt oss
                </a>
            </div>
        </div>
        <main class="main-content">
            {{{body}}}
        </main>
    </div>

    <script src="/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Initialize Select2 on the project select
 //       $('#projectFilterSelect').select2({
   //         placeholder: 'Velg prosjekter',
     //       allowClear: true,
       //     dropdownAutoWidth: true,
         //   width: '100%'
        //});

        // Calculate the last 12 months
        const end = new Date();
        const start = new Date();
        start.setFullYear(end.getFullYear() - 1);
        start.setMonth(end.getMonth() + 1);

        // Initialize Flatpickr for month and year range selection
        const monthYearRangePicker = flatpickr("#monthYearRangePicker", {
            mode: "range",
            dateFormat: "Y-m",
            minDate: "2020-01",
            maxDate: new Date().toISOString().slice(0, 7), // Current month and year
            defaultDate: [start, end], // Set the last 12 months as default
            locale: "no", // Set the locale to Norwegian
            plugins: [
                new monthSelectPlugin({
                    shorthand: true, // defaults to false
                    dateFormat: "Y-m", // defaults to "F Y"
                    altFormat: "F Y", // defaults to "F Y"
                    theme: "light" // defaults to "light"
                })
            ],
            onChange: function(selectedDates, dateStr, instance) {
                // Ensure both start and end dates are selected before applying the filter
                if (selectedDates.length === 2) {
                    applyProjectFilter(); // Call applyProjectFilter when the date range changes
                }
            }
        });

        // Manually set the value of the input field to display the default date range
        const formattedStart = start.toISOString().slice(0, 7);
        const formattedEnd = end.toISOString().slice(0, 7);
        document.getElementById('monthYearRangePicker').value = `${formattedStart} to ${formattedEnd}`;
    });
    // report.on will add an event listener.
        reportInstance.on("pageChanged", function (event) {
            let page = event.detail.newPage;
            console.log("Event - pageChanged:\nPage changed to \"" + page.name + "\" - \"" + page.displayName + "\"");
        });

    </script>
</body>
</html>